

/* THE NAVBAR STYLING */


@media only screen and (min-width:401px)
    {
      #brand_logo
      {
        width:68px;
        height:68px;
        position:relative;
        top:-2px;
        left:-9px;
      }

      #brand_name
      {
        font-family: 'Modak', cursive;
        font-size:30px;
        position:relative;
        right:24px;
        color:#1a3456;
      }

      #brand_text
      {
        position:relative;
        bottom:20px;
        right:10px;
        font-family: 'Fondamento', cursive;
        font-size:22px;
        color:#ffa149;
      }
    }

    @media only screen and (max-width:400px)
    {
      #brand_logo
      {
        width:45px;
        height:45px;
        position:relative;
        left:-8px;
      }

      #brand_name
      {
        font-family: 'Modak', cursive;
        font-size:20px;
        position:relative;
        right:24px;
        color:#1a3456;
      }

      #brand_text
      {
        position:relative;
        bottom:14px;
        right:22px;
        font-family: 'Fondamento', cursive;
        font-size:12px;
        color:#ffa149;
      }

      .time-stamp
      {
        font-size:10px;
      }
    }

    @media only screen and (min-width:421px)
    {
      #clock_png
      {
        width:40px;
        height:40px;
        position:relative;
        top:1.5px;
      }

      #message_png
      {
        width:43px;
        height:43px;
        position:relative;
        bottom:3px;
      }
    }

    @media only screen and (max-width:420px)
    {
      #clock_png
      {
        width:28px;
        height:28px;
      }

      #message_png
      {
        width:30px;
        height:30px;
        position:relative;
        bottom:3px;
      }

      .info_text
      {
        font-size:12px;
      }

    }

      #topnavbartogglerbutton_1
      {
        background:transparent;
        border:none;
        position:relative;
        bottom:10px;
      }

      #SearchTextBox
      {
        width:120px;
        transition: width 0.4s ease-in-out;
        outline:none;
        border:2px solid lightcyan;
      }
      
      #SearchTextBox[type="search"]:focus
       {
        width:260px;
        box-shadow:0px 0px 10px #004c56;
        outline:none;
        border-top:1.76px solid green;
        border-right:none;
        border-bottom:1.76px solid green;
        border-left:1.76px solid green;
       }


       #searchSubmit
       {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
       }

      .nav-link
      {
        font-family: 'PT Serif Caption', serif;
        font-weight:600;
        font-size:13.5px;
        color:#ecbd8b;
      }
      .nav-link:hover
      {
        color:#ffb266;
        text-decoration: underline;
      }

      #navbar_icon
      {
        color:#fff;
        transition: 0.8s ease-in-out;
      }
      #navbar_icon.fa-angle-up
      {
        color:#ecbd8b;       
        transform:rotate(360deg);
        opacity:0.9;
      }


 /* END OF NAVBAR STYLING CODE */ 



 /* FOOTER STYLING CODE */   



 	  .connectIcon
      {
        font-size:23.5px;
      }

      .connectLink:nth-child(1)
      {
        color:#ff1e56;
      }
       .connectLink:nth-child(2)
      {
        color:#335eb2;
      }
       .connectLink:nth-child(3)
      {
        color:#F6BD5B;
      }
       .connectLink:nth-child(4)
      {
        color:#19B2E4;
      }
      .connectLink:nth-child(5)
      {
        color:#E00022;
      }
       .connectLink:nth-child(6)
      {
        color:#0070AC;
      } 




      .f-link
      {
        color:#bcbcb3;
      }

      .f-link:hover
      {

        color:#bfbf78;
        text-decoration: none;
        transition:0.4s ease-in-out;
         
      }

      #f-barruko-box
      {
         margin-top:37px;
         border-left:2px solid #f4841a;
         border-radius:10px;
         padding:3px 0px 3px 0px;
      }

      .f-image
      {
        width:130px;
        height:100px;
      }

      .f-contact-head
      {
        color:#B89976;
      }

      .f-hr-line
      {
        width:5%;
        height:2px;
        border:1px solid #bcbcb3;
        border-radius:10px;
        position:relative;
        bottom:10px;
      }

      .f-copy-text
      {
        color:lightgrey;
      }

      .f-copy-text > span
      {
        color:#FFC107;
      }


       #scrl-up
      {
        width:80px;
        height:80px;
        background:#222830;
        border-radius:50%;
        position:relative;
        left:48%;
        top:-57px;
        transform: translateX(-50%);
      }

      #scrl-up > button
      {
        position:relative;
        background:transparent;
        border:none;
        height:55px;
        width:35px;
        top:10px;
        left:22px;
      }

      #scrl-up > button:focus
      {
        outline:none;
      }

      #scrl-up > button:hover i
      {
        transition:0.5s ease-in-out;
        color:#F2B80A;
      }

      #scrl-up > button > i
      {
        color:white;
        font-size:18px;
        animation-name: updown;
        animation-iteration-count: infinite;
        animation-timing-function:unset;
        animation-duration:1.4s;
        position:relative;       
      }

      @keyframes updown
      {
        0%,100%
        {
          transform:translateY(0px);
        }
        50%
        {
          transform:translateY(-8px);
        }

      }

     /* END OF FOOTER STYLING CODE */