body{
    background-image: url(storeImages/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.body-h1{
    padding-top: 20%;
    color:#fff;
    text-align: center;
}
.scroll-img{
    height: 70px;
    width: 70px;
    margin-left: 48%;
    margin-top: 20%;
}

/* Carousel styling */
.carousel{
    background-color: #f0ece3;
    margin-top: 70px;
    padding: 50px 200px;
    justify-items: center;
}

.carousel-img{
    height: 600px;
    width: 400px;
}
.c-slide{
    padding: 50px 200px;
}



.our-products{
    color: white;
    text-align: center;
    padding: 10%;
}

/* Products section  */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container {
    max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }


/* Pricing */
.pricing{
    color: white;
    text-align: center;
    padding: 10%;
}
.pricing-box{
    background-color: #f0ece3;
    padding: 05% 20%;
}

/* Responsive items  */
@media (max-width:1028px){
    .carousel{
        padding: 20px 50px 30px 50px;
        margin-top: 400px;
    }
    .c-slide{
        padding:20px ;
        margin-top: 50px;
    }
    .body-h1{
        padding-top: 50%;
    }
    .scroll-img{
        margin-top: 300px;
    }
    .pricing-box{
        background-color: #f0ece3;
        padding: 05% 01%;
    }
}



